<!-- Header Bar -->
<ion-header-bar align-title="center" class="bg-header">
  <div class="buttons">
    <button class="button button-icon icon ion-arrow-left-b" ng-click="goBack()"></button>
  </div>
  <h1 class="title">friends who saved this ({{footprint.hypes.length}})</h1>
<!--   <div class="buttons">
    <button class="button button-icon icon ion-map" ui-sref="footprints-map"></button>
  </div> -->
</ion-header-bar>

<ion-view title="Home">

  <ion-content class="padding bg-scroll">

    <div ng-repeat="hyper in footprint.hypes" class="item item-avatar">  
      <img class="commentslist-propic" ng-src='{{ hyper.fbProfilePicture }}'>
      <h2 class="commentername">{{ hyper.name }}</h2>
    </div>

  </ion-content>
</ion-view>