<!-- Header Bar -->
<ion-header-bar align-title="center" class="bar-positive">
  <div class="buttons">
    <button class="button button-icon icon ion-arrow-left-b" ng-click="doSomething()"></button>
  </div>
  <h1 class="title">Home</h1>
  <div class="buttons">
    <button class="button button-icon icon ion-map" ui-sref="footprints-map"></button>
  </div>
</ion-header-bar>

<ion-view title="Home">

  <ion-content class="padding">

    <!-- Search bar -->
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-ios7-search-strong placeholder-icon"></i>
        <input type="text" placeholder="Search footprints" ng-model="search">
      </label>
    </div>

    <!-- <div class="list card"> -->
      <!-- <a class="item item-icon-left" href="#"> -->
        <!-- <i class="icon ion-ios7-search-strong"></i> -->
        <!-- <input class="icon ion-ios7-search-strong" type="search" ng-model="search" placeholder="Search your footprints"> -->
      <!-- </a> -->
    <!-- </div> -->

    <!-- <div ng-if="inBoundsObject.datapoints" class='waddlefeed'>-->
      <!--<div class='waddlefeeditem' ng-repeat="footprint in inBoundsObject.datapoints | orderBy:'-checkin.checkinTime' | limitTo:20 ">-->
      <!-- <div class='waddlefeeditem'> -->

    <div ng-repeat="footprint in footprints | filter:search" class="list card">

      <div class="item item-avatar">

        <!-- Profile Picture -->
        <img ng-src='{{footprint.user.fbProfilePicture}}'>

        <!-- User Name -->
        <!-- <h2>{{footprint.user.name}}</h2> -->

        <div class="row">
          <!-- Location -->
          <div class="col col-73">
            <h2 class='feeditemname' ng-click="getFootprint(footprint)">
              {{footprint.place.name}}
            </h2>
          </div>

          <!-- Check-in Time -->
          <div class="col">
            <h6 class="checkindate">{{footprint.checkin.checkinTime | date : shortDate}}</h6>
          </div>

          <!-- Hype Button -->
          <button class="button button-small" ng-click="addCheckinToBucketList({{ footprint }})">
            <i class="icon ion-arrow-up-a"></i>
          </button>
        </div>

        <button ng-click="addCheckinToBucketList(footprint)">Bucket</button>

        
        <!-- Photo & Caption -->
        <div ng-if="footprint.checkin.photoLarge !== 'null'" ng-click="getFootprint(footprint)">
          <img class="full-image" ng-src="{{footprint.checkin.photoLarge}}">
          <h4 ng-if="footprint.checkin.caption !== 'null'">{{footprint.checkin.caption}}</h4>
        </div>

        <!-- Default Photo (if no photo) -->
        <div ng-if="footprint.checkin.photoLarge === 'null'" ng-if="footprint.checkin.caption === 'null'" class='captioncontainer'>
          <img class="full-image defaultpeng" ng-click="getFootprint(footprint)" ng-src="https://s3-us-west-2.amazonaws.com/waddle/WaddlePenguinLogo.png"/>
          <h4 ng-if="footprint.checkin.caption !== 'null' && footprint.checkin.photoLarge === 'null'">"{{footprint.checkin.caption}}"</h4>
        </div>

<!--             <p>
          <a href="#" class="subdued">1 Like</a>
          <a href="#" class="subdued">5 Comments</a>
        </p> -->
      </div>

      <!-- Card Bottom Buttons -->
      <div class="item item-divider">
        <div class="row">
          <i class="icon ion-arrow-up-a"></i>
          <div ng-repeat="hyper in footprint.hypes">{{ hyper.name }}</div>
        </div>
      </div>

    </div>

    <!-- Not bucketed -->
    <!-- <img ng-if="!footprint.checkin.bucketed" class='addbucket feedactions' title="Add to Bucket List" ng-click="addCheckinToBucketList(footprint)"/> -->
    <!-- Bucketed -->
    <!-- <img ng-if="footprint.checkin.bucketed" class='addbucketactive feedactions' title="Add to Bucket List" ng-click="removeCheckinFromBucketList(footprint)"/> -->

    <!-- Comments -->
<!--         <div class="feedcomment" ng-repeat="comment in footprint.comments | orderBy:'comment.time'">
        <img class='footprintprofpic' ng-src='{{comment.commenter.fbProfilePicture}}'>
        <h4>{{comment.commenter.name}}</h4>
        <h8 class="checkindate">{{comment.comment.time | date : shortDate}}</h8><br>
        <p>{{comment.comment.text}}</p>
    </div> -->
<!--     <div class='footprintcomments' ng-repeat="comment in selectedFootprintInteractions.comments">
        <div class='footprintcommentpiccontainer'>
          <img class='footprintprofpic' ng-src='{{comment.commenter.fbProfilePicture}}'>
        </div>
        <h4 class="commentername">{{comment.commenter.name}}</h4>
        <h7>{{comment.comment.time | date : shortDate}}</h7>
        <p>{{comment.comment.text}}</p>
        <button ng-click='removeComment()'>Delete</button>
      </div> -->

    <!-- Add Comment -->
<!--         <form name="customSubmit" data-custom-submit info='someinfo' class='comment_form' novalidate>
      <input ng-model='comment' name='comment' placeholder='Leave a comment' class="comment" data-ng-minlength="1" data-ng-maxlength="120" required>
      <span class="help-inline" ng-show="customSubmit.comment.$error.maxlength">120 Character Max</span>
    </form> -->
  <!-- </div> -->

  <ion-infinite-scroll
    on-infinite="getAggregatedFeedData()"
    ng-if="moreDataCanBeLoaded"
    distance="10%">
  </ion-infinite-scroll>

  </ion-content>
</ion-view>