<!-- Header Bar -->
<ion-header-bar align-title="center" class="bg-header">
  <div class="buttons">
    <button class="button button-icon icon waddle-search light" ng-click="toggleFolderSearch()"></button>
  </div>
  <h1 class="title">feed</h1>
</ion-header-bar>

<ion-view title="Home">
  <ion-content class="padding bg-scroll">

    <!-- Search bar -->
    <div ng-show="showFolderSearch" class="list">
      <div class="item item-input-inset searchbox">
        <label class="item-input-wrapper white-bg">
          <input class="waddle-search-grey" type="text" placeholder="search for a place" ng-keyup="searchFeed()" ng-model="search.query">
        </label>
        <button class="button button-clear" ng-if="search.query" ng-click="clearSearch()">x</button>
      </div>
    </div>

    <ion-refresher on-refresh="doRefresh()"></ion-refresher>
    <!-- <div ng-repeat="footprint in footprints"> -->

    <div class="checkin-card" collection-repeat="footprint in footprints" item-height="getCardHeight(footprint)" item-render-buffer="5" force-refresh-images="true">
      <button ng-if="!footprint.folders" class="button icon waddle-folder-plus button-small button-light savefave text-align-right" ng-click="showPopup(footprint.checkin.checkinID, $index)">Save to Folder</button>
      <button ng-if="footprint.folders" class="button button-small button-light savefave" ng-click="openModal(footprint.folders[0].name)">{{footprint.folders[0].name}}</button>
      <img src="img/TabCurve-1.png" class="folder-tab-curve">
      <button ng-click="openOptions(footprint, $index)" class="options button button-icon icon waddle-more light"></button>
      <div ng-if="categoryNameIndex === $index" class="relative-absolute-hack">
        <h4 ng-if="categoryNameIndex === $index" ng-click="toggleCategoryNameDisplay($index)" class="category-name-modal">{{footprint.category.name}}<h4>
        <!-- <img class="carat" src="https://s3-us-west-2.amazonaws.com/waddle/app+assets/categorycarat-1.svg"> -->
      </div>
      <div class="list list-inset">

        <div class="item item-avatar footprint-card">
        <!-- Profile Picture -->
          <img class="footprint-propic" ng-click='loadProfilePage(footprint.user)' ng-src='{{footprint.user.fbProfilePicture}}'>
          <!-- Badge -->
          <img ng-click="toggleCategoryNameDisplay($index)" ng-if="footprint.category.iconPrefix" ng-src="{{footprint.category.iconPrefix}}40x40{{footprint.category.iconSuffix}}" class="waddlebadge">
          <img ng-click="toggleCategoryNameDisplay($index)" ng-if="!footprint.category.iconPrefix" ng-src="img/uncategorized-40x40-2.svg" class="waddlebadge">
          <!-- User Name -->
          <a ui-sref="tab.enlarged-footprint" ng-click="openFootprint(footprint, $index)" class="subdued home-rating-message"><b>{{footprint.user.name}}</b> rates this <h4 class="ratinghex-footprint">{{footprint.checkin.rating}}</h4></a>
          <br>
          <!-- Place Name and Location-->
          <h2 ui-sref="tab.enlarged-footprint" ng-click="openFootprint(footprint, $index)">{{footprint.place.name}}</h2>
          <p ui-sref="tab.enlarged-footprint" ng-click="openFootprint(footprint, $index)"> 
            <a ng-if="footprint.place.city !== 'null'">{{footprint.place.city}}</a><a ng-if="footprint.place.city !== 'null' && footprint.place.province !== 'null'">,</a>
            <a ng-if="footprint.place.province !== 'null'">{{footprint.place.province}}</a>
            <span am-time-ago="footprint.checkin.checkinTime" class="float-right timestamp main-timestamp"></span>
            <img src="img/timestamp-1.svg"class="waddle-clock float-right">
          </p>
        </div>
        
        <!-- Photo, Caption, Number of Comments/Hypes--> 
        <div class="item item-body">

          <!-- iphone 6 image -->
          <img reset-photo ng-if="footprint.checkin.photo && footprint.checkin.photo!== 'null'" ui-sref="tab.enlarged-footprint" ng-click="openFootprint(footprint, $index)" class="full-image" ng-src="{{footprint.checkin.photo}}/iphone6">

          <!-- photoLarge (show if .photo doesn't exist) -->
          <img reset-photo-large ng-if="(!footprint.checkin.photo || footprint.checkin.photo === 'null') && footprint.checkin.photoLarge !== 'null'" ui-sref="tab.enlarged-footprint" ng-click="openFootprint(footprint, $index)" class="full-image" ng-src="{{footprint.checkin.photoLarge}}">
          
          <p ui-sref="tab.enlarged-footprint" ng-click="openFootprint(footprint, $index)" class="footprintcaption" ng-if="footprint.checkin.caption !== 'null'" ng-repeat="line in createCaption(footprint.checkin)">{{ line }}</p>
          
          <a ng-if="footprint.comments.length > 0" ui-sref="tab.comments" ng-click="openFootprint(footprint, $index)" class="subdued x-centered coral small-semi-bold"><img src="img/commentbutton-1.svg" class="waddle-comment"> {{footprint.comments.length}}</a>
          <a ng-if="footprint.hypes.length > 0"  ui-sref="tab.hypers" ng-click="openFootprint(footprint, $index)" class="subdued x-centered coral small-semi-bold"><i class="ion-android-folder coral larger"></i> {{footprint.hypes.length}}</a>
          </p>
        </div>

          <!-- Comments -->
        <div ng-repeat="comment in footprint.comments | orderBy:'-comment.time' | limitTo:1" class="item item-text-wrap home-comment" ui-sref="tab.comments" ng-click="openFootprint(footprint, $index)">  
          <img class="footprint-comment-propic" ng-src="{{comment.commenter.fbProfilePicture}}">
          <h2 class="commentername-footprint">{{comment.commenter.name}}</h2>
          <span am-time-ago="comment.comment.time" class="float-right center-align-vertical timestamp"></span><img src="img/timestamp-1.svg"class="waddle-clock clock-comment-footprint float-right">
          <p class="comment-home-text">{{comment.comment.text}}</p>
        </div>
         
        <!-- Suggest + Comment Buttons -->
        <div class="bottom-buttons-home">
          <button class="button button-small comment-button-home" ui-sref='tab.comments' ng-click='openFootprint(footprint, $index)'>comment</button>
          <button class="button button-small suggest-button-home" ng-click='showShareOptions(footprint)'>suggest to friend</button>
        </div>

      </div>
    </div>

    <!-- <ion-scroll 
    delegate-handle="libScroll" 
    on-scroll="checkScroll()" 
    direction="y" 
    style="width: 100%; height: 100%"> -->

    <ion-infinite-scroll
    on-infinite="getAggregatedFeedData()"
    ng-if="moreDataCanBeLoaded"
    distance="30%">
    </ion-infinite-scroll>

  </ion-content>
</ion-view>
