
<!-- Header Bar -->
<ion-header-bar align-title="center" class="bg-header">
<!-- <div class="buttons">
    <button ng-if="!showSearch" class="button button-icon icon waddle-search light" ng-click="toggleSearch()"></button>
    <button ng-if="showSearch" class="button button-icon icon ion-arrow-left-b" ng-click="toggleSearch()"></button>
</div> -->
<h1 class="title">select a venue to review</h1>
</ion-header-bar>

<ion-view cache-view="false" title="Checkins">
  <ion-content class="padding bg-scroll">

    <!-- <div ng-show="showSearch" class="list"> -->
      <div class="item item-input-inset search-query search-icon-settings searchbox-top">
        <label class="item-input-wrapper white-bg">
          <input type="text" placeholder="search by venue name" ng-keyup="searchFoursquareVenuesBySearchQueryAndNearKeyword()" ng-model="search.query">
        </label>
          <button class="button button-clear" ng-if="searchFolders.query" ng-click="clearSearch()">x</button>
          <!-- <button class="button button-small" type="submit" ng-click="searchFeed()">Submit</button> -->
      </div>
      <br>
      <div class="item item-input-inset searchbox-top search-icon-settings search-near search-bottom">
        <label class="item-input-wrapper white-bg">
          <input type="text" placeholder="near me" ng-keyup="searchFoursquareVenuesBySearchQueryAndNearKeyword()" ng-model="search.near">
        </label>
        <button class="button button-clear" ng-if="searchFolders.query" ng-click="clearSearch()">x</button>
      </div>
      <div ng-if="err && !venues" class="item item-text-wrap">
        <h3>{{err.message1}}<h3>
        <h5>{{err.message2}}</h5>
      </div>
    <!-- </div> -->
     <!--  <h2>{{location}}</h2> -->
    <div class="item item-avatar item-text-wrap notifications-list" ng-repeat="venue in venues" ui-sref="tab.checkin-post" ng-click='passSelectedVenueInfoToPostTab(venue)' ui-sref-opts="{reload: true}">
        <img class="waddlebadge-checkin-list" ng-src="{{venue.iconUrlPrefix}}40x40{{venue.iconUrlSuffix}}">
        <h2>{{venue.name}}</h2>
        <!-- <h5 class="venue-info">{{venue.location.formattedAddress[0]}}, {{venue.location.formattedAddress[1]}}<h5> -->
        <h5 class="venue-info">{{venue.address}}, {{venue.locality}}, {{venue.region}}<h5>
        <h5 ng-if="venue.location.distance" class="venue-info">{{venue.location.distance}} mi</h5>
    </div>

  <ion-infinite-scroll
    on-infinite="getUserData()"
    ng-if="!venues && !err"
    distance="10%">
  </ion-infinite-scroll>
  <h5 class="white-text margin-indent" ng-if="venues">No more results to show!</h5>

  </ion-content>
</ion-view>

<script id="folder-list.html" type="text/ng-template">
    <h2 ng-click="showFolderCreationPopup()">+Create a new folder</h2>
    <div class="folderList" ng-repeat="folder in folders">
      <h4 ng-class="{'selected': selectedFolder === $index}" ng-click="passSelectedFolderInfo(folder, $index)">{{folder.folder.name}}</h4>
    </div>
</script>

<script id="add-folder.html" type="text/ng-template">
    <form class="navbar-form navbar-left" role="search">
      <textarea ng-model="newFolderInfo.name" type="text" class="form-control" placeholder="Name your folder">
      </textarea>
      <textarea ng-model="newFolderInfo.description" type="text" class="form-control" placeholder="Write a description">
      </textarea>
    </form>
</script>

<script id="folder-create-success.html" type="text/ng-template">
    <img class="success-confirm" src="img/greencheckmark-1.svg">
</script>
 