
<!-- Header Bar -->
<ion-header-bar align-title="center" class="bar-positive">
  <div class="buttons">
    <button class="button button-icon icon ion-arrow-left-b" ng-click="doSomething()"></button>
  </div>
  <h1 class="title">Check-Ins</h1>
  <div class="buttons">
    <button class="button button-icon icon ion-map"></button>
  </div>
</ion-header-bar>

<ion-view title="Checkins">
  <ion-content class="padding">
  <div class="checkindiv">
    <h2>{{location}}</h2>
    <div ng-repeat="venue in venues">
    	<h2 ng-click='passSelectedVenueInfoToPostModal(venue); openModal()'>{{venue.name}}</h2>
    	<h5>{{venue.location.formattedAddress[0]}}, {{venue.location.formattedAddress[1]}}<h5>
    	<h6>{{venue.location.distance}} meters</h6>
    </div>
    </div>
  </ion-content>
</ion-view>

<script id="checkin-post.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">{{venue.name}}</h1>
    </ion-header-bar>
    <ion-content>
    <form class="navbar-form navbar-left" role="search">
      <textarea ng-model="checkinInfo.footprintCaption" type="text" class="form-control" placeholder="What did you think of this place?">
      </textarea>
      <input type="file" id="files"/><p id="status">Please select a file</p>
      <button ng-click='showCaption()'>caption</button>
      <button type="submit" ng-click="sendCheckinDataToServer(venue)" ui-sref="tab.home">Post</button>
    </form>
    </ion-content>
    <button></button>
  </ion-modal-view>
</script>
 