<ion-view title="Footprints">
  <!-- Header Bar -->
  <div class="bar bar-header bar-positive">
    <button class="button button-icon icon ion-arrow-left-b"></button>
    <div class="h1 title">Footprints</div>
    <button class="button button-clear icon ion-map"></button>
  </div>

  <ion-content class="padding">

    <!-- <div ng-if="inBoundsObject.datapoints" class='waddlefeed'>-->
      <!--<div class='waddlefeeditem' ng-repeat="footprint in inBoundsObject.datapoints | orderBy:'-checkin.checkinTime' | limitTo:20 ">-->
      <div class='waddlefeeditem'>

        <div class="list card">

          <div class="item item-avatar">

            <!-- Profile Picture -->
            <img ng-src='{{footprint.user.fbProfilePicture}}'>

            <!-- User Name -->
            <!-- <h2>{{footprint.user.name}}</h2> -->

            <!-- Location -->
            <h3 class='feeditemname' ng-click="getFootprint(footprint)" ui-sref="map.feed.footprint({footprint: footprint.place.foursquareID})">
              {{footprint.place.name}}
            </h3>

            <!-- Check-in Time -->
            <h8 class="checkindate">{{footprint.checkin.checkinTime | date : shortDate}}</h8>
            
            <!-- Photo & Caption -->

            <!-- With Caption -->
            <div ng-if="footprint.checkin.caption !== 'null'" ng-if="footprint.checkin.photoLarge !== 'null'" ng-click="getFootprint(footprint)" ui-sref="map.feed.footprint({footprint: footprint.place.foursquareID})">
              <img class="full-image" ng-src="{{footprint.checkin.photoLarge}}">
              <h4>{{footprint.checkin.caption}}</h4>
            </div>

            <!-- Without Caption -->
            <div  ng-if="footprint.checkin.photoLarge !== 'null'" ng-if="footprint.checkin.caption === null" ng-click="getFootprint(footprint)" ui-sref="map.feed.footprint({footprint: footprint.place.foursquareID})">
              <img class="full-image" ng-src="{{footprint.checkin.photoLarge}}">
            </div>

            <!-- Default Photo (if no photo) -->
            <div ng-if="footprint.checkin.photoLarge === 'null'" ng-if="footprint.checkin.caption === 'null'" class='captioncontainer'>
              <img class="full-image defaultpeng" ng-click="getFootprint(footprint)" ui-sref="map.feed.footprint({footprint: footprint.place.foursquareID})" ng-src="https://s3-us-west-2.amazonaws.com/waddle/WaddlePenguinLogo.png"/>
            </div>
            <div ng-if="footprint.checkin.caption !== 'null'" ng-if="footprint.checkin.photoLarge === 'null'" class='captioncontainer'>
              <h4 ng-if="footprint.checkin.caption !== 'null' && footprint.checkin.photoLarge === 'null'">"{{footprint.checkin.caption}}"</h4>
            </div>

            <!-- Photo -->
            <!-- <img class="full-image" src="delorean.jpg">
            <p>
              {{footprint.checkin.caption}}
              Had a great time eating yogurt, FROYO FOREVER!
            </p> -->
            <p>
              <a href="#" class="subdued">1 Like</a>
              <a href="#" class="subdued">5 Comments</a>
            </p>
          </div>

          <!-- Card Bottom Buttons -->
<!--           <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item" href="#">
              <i class="icon ion-thumbsup"></i>
              Like
            </a>
            <a class="tab-item" href="#">
              <i class="icon ion-chatbox"></i>
              Comment
            </a>
            <a class="tab-item" href="#">
              <i class="icon ion-share"></i>
              Share
            </a>
          </div> -->

        <!-- </div> -->

        <!-- Profile Picture -->
<!--         <div class="footprintprofpicframe">
            <img class='footprintprofpic' ng-src='{{footprint.user.fbProfilePicture}}'>
        </div> -->

        <!-- User Name -->
        <!-- <h4>{{footprint.user.name}}</h4> -->
        <!-- Not bucketed -->
        <!-- <img ng-if="!footprint.checkin.bucketed" class='addbucket feedactions' title="Add to Bucket List" ng-click="addCheckinToBucketList(footprint)"/> -->
        <!-- Bucketed -->
        <!-- <img ng-if="footprint.checkin.bucketed" class='addbucketactive feedactions' title="Add to Bucket List" ng-click="removeCheckinFromBucketList(footprint)"/> -->
        <!-- <h8 class="checkindate">{{footprint.checkin.checkinTime | date : shortDate}}</h8> -->

        <!-- <br/> -->

        <!-- Place Name -->
        <!-- <h3 class='feeditemname' ng-click="getFootprint(footprint)" ui-sref="map.feed.footprint({footprint: footprint.place.foursquareID})">
          {{footprint.place.name}}
        </h3> -->

        <!-- Photo & Caption -->

        <!-- With Caption -->
<!--         <div ng-if="footprint.checkin.caption !== 'null'" ng-if="footprint.checkin.photoLarge !== 'null'" ng-click="getFootprint(footprint)" ui-sref="map.feed.footprint({footprint: footprint.place.foursquareID})">
          <img class='feedphoto' ng-src="{{footprint.checkin.photoLarge}}">
          <h4>{{footprint.checkin.caption}}</h4>
        </div> -->

        <!-- Without Caption -->
<!--         <div  ng-if="footprint.checkin.photoLarge !== 'null'" ng-if="footprint.checkin.caption === null" ng-click="getFootprint(footprint)" ui-sref="map.feed.footprint({footprint: footprint.place.foursquareID})">
          <img class='feedphoto' ng-src="{{footprint.checkin.photoLarge}}">
        </div> -->

        <!-- Default Photo (if no photo) -->
<!--         <div ng-if="footprint.checkin.photoLarge === 'null'" ng-if="footprint.checkin.caption === 'null'" class='captioncontainer'>
          <img class="defaultpeng" ng-click="getFootprint(footprint)" ui-sref="map.feed.footprint({footprint: footprint.place.foursquareID})" ng-src="https://s3-us-west-2.amazonaws.com/waddle/WaddlePenguinLogo.png"/>
        </div>
        <div ng-if="footprint.checkin.caption !== 'null'" ng-if="footprint.checkin.photoLarge === 'null'" class='captioncontainer'>
          <h4 ng-if="footprint.checkin.caption !== 'null' && footprint.checkin.photoLarge === 'null'">"{{footprint.checkin.caption}}"</h4>
        </div> -->

        <!-- Comments -->
<!--         <div class="feedcomment" ng-repeat="comment in footprint.comments | orderBy:'comment.time'">
            <img class='footprintprofpic' ng-src='{{comment.commenter.fbProfilePicture}}'>
            <h4>{{comment.commenter.name}}</h4>
            <h8 class="checkindate">{{comment.comment.time | date : shortDate}}</h8><br>
            <p>{{comment.comment.text}}</p>
        </div> -->
    <!--     <div class='footprintcomments' ng-repeat="comment in selectedFootprintInteractions.comments">
            <div class='footprintcommentpiccontainer'>
              <img class='footprintprofpic' ng-src='{{comment.commenter.fbProfilePicture}}'>
            </div>
            <h4 class="commentername">{{comment.commenter.name}}</h4>
            <h7>{{comment.comment.time | date : shortDate}}</h7>
            <p>{{comment.comment.text}}</p>
            <button ng-click='removeComment()'>Delete</button>
          </div> -->

        <!-- Add Comment -->
<!--         <form name="customSubmit" data-custom-submit info='someinfo' class='comment_form' novalidate>
          <input ng-model='comment' name='comment' placeholder='Leave a comment' class="comment" data-ng-minlength="1" data-ng-maxlength="120" required>
          <span class="help-inline" ng-show="customSubmit.comment.$error.maxlength">120 Character Max</span>
        </form> -->
      <!-- </div> -->

  </ion-content>
</ion-view>