<!-- <ion-view title="Login">
	<ion-content class="padding bg-scroll"> -->
	<!-- <div class="frontpage-bg centered"> -->
	    <!-- <div id="welcome"> -->
	    <!-- <img src="https://s3-us-west-2.amazonaws.com/waddle/mobilewelcomescreenimgs/waddlewelcomescreen1.png" class="logo" />
	    <h1 class="light">Waddle</h1> -->
	    <!-- <img src="https://s3-us-west-2.amazonaws.com/waddle/mobilewelcomescreenimgs/waddlewelcomescreen1.png" class="welcomeimg"> -->
		  <!--   <div class="centered"> -->
		    	<!-- <br><br><br> -->
		<!--     <h2 class="waddlewaddle light">Your footprints. Your world.</h2><br /> -->
		<!--     <button class="button button-block button-calm" ng-click="login()">Let's Waddle</button> -->
		   <!--  </div> -->
		<!-- 	</div> -->
	<!-- </div> -->
<!-- 	</ion-content>
</ion-view> -->
<!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans:700,300,400' rel='stylesheet' type='text/css'> -->


<ion-view view-title="Login" name="login-view">
  <ion-content class="padding bg-scroll">
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="data.username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="data.password">
          </label>
      </div>
      <button class="button button-block button-calm" ng-click="login()">Let's Waddle</button>
  </ion-content>
</ion-view>