<!-- <ion-view title="Login">
	<ion-content class="padding bg-scroll"> -->
	<!-- <div class="frontpage-bg centered"> -->
	    <!-- <div id="welcome"> -->
	    <!-- <img src="https://s3-us-west-2.amazonaws.com/waddle/mobilewelcomescreenimgs/waddlewelcomescreen1.png" class="logo" />
	    <h1 class="light">Waddle</h1> -->
	    <!-- <img src="https://s3-us-west-2.amazonaws.com/waddle/mobilewelcomescreenimgs/waddlewelcomescreen1.png" class="welcomeimg"> -->
		  <!--   <div class="centered"> -->
		    	<!-- <br><br><br> -->
		<!--     <h2 class="waddlewaddle light">Your footprints. Your world.</h2><br /> -->
		<!--     <button class="button button-block button-calm" ng-click="login()">Let's Waddle</button> -->
		   <!--  </div> -->
		<!-- 	</div> -->
	<!-- </div> -->
<!-- 	</ion-content>
</ion-view> -->
<!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans:700,300,400' rel='stylesheet' type='text/css'> -->


<ion-view view-title="Login" name="login-view">
  <ion-content class="padding bg-scroll">
      <img class="waddle-logo" src="img/waddlelogoset-2.png"/>
      <hr class="login-break">

      <button class="button button-large login-button" ng-click="login()"><img class="facebook-login" src='img/FB-f-Logo__blue_50.png'>login with facebook<ion-spinner ng-if="loading" icon="ios" class="loading-spinner-ios"></ion-spinner></button> 
  </ion-content>
</ion-view>