<!-- Header Bar -->
<ion-header-bar align-title="center" class="bg-header">
  <h1 class="title">me</h1>
  <div class="buttons">
    <button ng-click="openModal();" class="transparentbutton button button-icon icon"><i class="icon ion-gear-a light"></i></button>

  </div>
</ion-header-bar>

<ion-view title="Profile">
  <ion-content class="padding bg-scroll">
  <div class="item profile-banner">
    <img ng-src='{{userInfo.fbProfilePicture}}' class="propic-profile">
    <h2 class="centered white-text">{{userInfo.name}}</h2>
    <h4 class="centered white-text">{{userInfo.footprintsCount}} footprints</h4>
  </div>
    <img ng-click="showFootprints()" class="me-bubble me-footprints" src="img/footprintbutton-2.svg">
    <img ng-click="showFriendsList()" class="me-bubble me-friends" src="img/friendsbutton-2.svg">
    <div class="button-bar me-buttons">
      <a class="button me-button border-bottom-left-radius button-small" ng-click="showFootprints()">footprints</a>
      <a class="button me-button border-bottom-right-radius button-small" ng-click="showFriendsList()">friends</a>
    </div>


    <div class="list profile-search">
      <div class="item item-input-inset searchbox">
        <label class="item-input-wrapper white-bg">
          <input type="text" placeholder="{{searchPlaceHolder}}" ng-keyup="bifurcateSearch()" ng-model="search.query">
        </label>
        <button class="button button-clear" ng-if="search.query" ng-click="clearSearch()">x</button>
      </div>
    </div>

    <ion-refresher ng-if="footprints.length" on-refresh="refreshFootprints()"></ion-refresher>
    <ion-refresher ng-if="friends.length" on-refresh="refreshFriends()"></ion-refresher>

    <div ng-if="footprints.length" ng-repeat="footprint in footprints">

      <button ng-if="!footprint.folders" class="button icon-left ion-star button-small button-light savefave" ng-click="showPopup(footprint.checkin.checkinID, $index)">Save to Folder</button>
      <button ng-if="footprint.folders" class="button button-small button-light savefave" ng-click="openModal(footprint.folders[0].name)">{{footprint.folders[0].name}}</button>
      <img src="https://s3-us-west-2.amazonaws.com/waddle/TabCurve-1.png" class="folder-tab-curve">
      <button ng-click="openOptions(footprint, $index)" class="options button button-icon icon waddle-more light"></button>
      <div ng-if="categoryNameIndex === $index" class="relative-absolute-hack">
        <h4 ng-if="categoryNameIndex === $index" ng-click="toggleCategoryNameDisplay($index)" class="category-name-modal">{{footprint.category.name}}<h4>
        <!-- <img class="carat" src="https://s3-us-west-2.amazonaws.com/waddle/app+assets/categorycarat-1.svg"> -->
      </div>
      <div class="list list-inset">

      <div class="item item-avatar">

        <!-- Profile Picture -->
        <img class="footprint-propic" ng-click='loadProfilePage(footprint.user)' ng-src='{{footprint.user.fbProfilePicture}}'>
        <!-- Badge -->
        <img ng-if="footprint.category.iconPrefix" ng-click="toggleCategoryNameDisplay($index)" ng-src="{{footprint.category.iconPrefix}}40x40{{footprint.category.iconSuffix}}" class="waddlebadge">
         <img ng-if="!footprint.category.iconPrefix" ng-click="toggleCategoryNameDisplay($index)" ng-src="img/uncategorized-40x40-2.svg" class="waddlebadge">
        <!-- User Name -->
         <a ui-sref="tab.enlarged-footprint-profile" ng-click="openFootprint(footprint, $index)" class="subdued home-rating-message"><b>{{footprint.user.name}}</b> rates this <h4 class="ratinghex-footprint">{{footprint.checkin.rating}}</h4></a>
        <br>
        <!-- Place Name and Location-->
          <h2 ui-sref="tab.enlarged-footprint-profile
" ng-click="openFootprint(footprint, $index)">{{footprint.place.name}}</h2>
          <p ui-sref="tab.enlarged-footprint-profile
" ng-click="openFootprint(footprint, $index)"> 
            <a ng-if="footprint.place.city !== 'null'">{{footprint.place.city}}</a><a ng-if="footprint.place.city !== 'null' && footprint.place.province !== 'null'">,</a>
            <a ng-if="footprint.place.province !== 'null'">{{footprint.place.province}}</a>
            <span am-time-ago="footprint.checkin.checkinTime" class="float-right main-timestamp timestamp"></span><img src="img/timestamp-1.svg"class="waddle-clock float-right">
          </p>
      </div>
  
      <div class="item item-body">
        <div class="checkinphoto">
          <img ng-if="footprint.checkin.photoLarge !== 'null'" ui-sref="tab.enlarged-footprint-profile
" ng-click="openFootprint(footprint, $index)" class="full-image" ng-src="{{footprint.checkin.photoLarge}}">
        </div>
        <p ui-sref="tab.enlarged-footprint-profile" ng-click="openFootprint(footprint, $index)" class="footprintcaption" ng-if="footprint.checkin.caption !== 'null'">{{footprint.checkin.caption}}</p>
        <a ng-if="footprint.comments.length > 0" ui-sref="tab.comments-profile" ng-click="openFootprint(footprint, $index)" class="subdued x-centered coral small-semi-bold"><img src="img/commentbutton-1.svg" class="waddle-comment"> {{footprint.comments.length}}</a>
          <a ng-if="footprint.hypes.length > 0"  ui-sref="tab.hypers-profile" ng-click="openFootprint(footprint, $index)" class="subdued x-centered coral small-semi-bold"><i class="ion-android-folder coral larger"></i> {{footprint.hypes.length}}</a>
          </p>
      </div>

      <!-- Comments -->
      <div ng-repeat="comment in footprint.comments | orderBy:'-comment.time' | limitTo:1" class="item item-text-wrap home-comment" ui-sref="tab.comments-profile" ng-click="openFootprint(footprint, $index)">  
          <img class="footprint-comment-propic" ng-src="{{comment.commenter.fbProfilePicture}}">
          <h2 class="commentername-footprint">{{comment.commenter.name}}</h2>
          <span am-time-ago="comment.comment.time" class="float-right center-align-vertical timestamp"></span><img src="img/timestamp-1.svg"class="waddle-clock clock-comment-footprint float-right">
          <p class="comment-home-text">{{comment.comment.text}}</p>
      </div>

      <div class="bottom-buttons-home">
        <button ui-sref='tab.comments-profile' ng-click='openFootprint(footprint, $index)' class="button button-small comment-button-home">comment</button>
        <button class="button button-small suggest-button-home" ng-click="showShareOptions(footprint)">suggest to friend</button>
      </div>
      

    </div>
  </div>
<!--   <div ng-if="!footprints.length && !friends.length" class="item item-avatar">
    <h4>No footprints to show!<h4>
  </div> -->

<div ng-repeat="friend in friends" ng-if='friend.footprintsCount >= 0' class="item item-avatar notifications-list">

  <div class="item item-avatar" ng-click="switchProfilePage(friend)">

    <!-- Profile Picture -->
    <img class="commentslist-propic" ng-src='{{friend.fbProfilePicture}}' ng-click="switchProfilePage(friend)">

    <!-- User Name -->
    <!-- <h2>{{friend.user.name}}</h2> -->

    <div class="row">
      <!-- Location -->
      <div class="col col-73">
        <h2 class='feeditemname' ng-click="switchProfilePage(friend)">
          {{friend.name}}
        </h2>
        <h3 class='feeditemname' ng-click="switchProfilePage(friend)">
          {{friend.footprintsCount}} footprints
        </h3>
      </div>

  </div>
</div>
</div>

  <ion-infinite-scroll
    on-infinite="getCorrectData()"
    ng-if="moreCorrectDataCanBeLoaded()"
    distance="10%">
  </ion-infinite-scroll>

  </ion-content>
</ion-view>

<script id="settings.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <button class="button button-icon inline-block icon waddle-close" ng-click="closeModal()"></button>
      <h1 class="title">Connect Accounts</h1>
    </ion-header-bar>
    <ion-content>
      <ul class="list">
      <h4>Connect Accounts</h4>
        <li class="item item-toggle">
          Foursquare
          <label class="toggle toggle-assertive">
            <input type="checkbox"  ng-checked="foursquareConnected" ng-disabled="foursquareConnected" ng-click="addFoursquare()">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
       </li>

       <li class="item item-toggle">
          Instagram
          <label class="toggle toggle-assertive">
            <input type="checkbox" ng-checked="instagramConnected" ng-disabled="instagramConnected" ng-click="addInstagram()">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
       </li>
     </ul>
     <h5 ng-click="logout()">Logout</h5>
    </ion-content>
  </ion-modal-view>
</script>


