<!-- Header Bar -->
<ion-header-bar align-title="center" class="bg-header">
  <h1 class="title" ng-click="clearSearch()">notifications</h1>
</ion-header-bar>

<ion-view title="Notifications">

  <ion-content class="padding bg-scroll">

    <ion-refresher on-refresh="doRefresh()"></ion-refresher>
    <div ng-repeat="notification in notifications" ng-if="userFbId !== notification.notificationGiver.facebookID" class="item item-avatar item-text-wrap notifications-list" ui-sref="tab.enlarged-footprint-notifications" ng-click="openFootprint(notification, $index)">
      <img class="notifications-list-propic" ng-src='{{notification.notificationGiver.fbProfilePicture}}'>
      <p class="notifications-text-overflow notifications-message1"><b>{{notification.notificationGiver.name}}</b> {{notification.notificationTrigger.message1}}:</p>
      <h4 class="inline-block">{{notification.place.name}}</h4>
      <img ng-src="{{notification.category.iconPrefix}}40x40{{notification.category.iconSuffix}}" class="waddlebadge-notifications">
      <p class="notifications-text-overflow notifications-message2">{{notification.notificationTrigger.message2}}</p>
      <span ng-if="notification.notificationTrigger.createdAt" am-time-ago="notification.notificationTrigger.createdAt" class="notifications-timestamp timestamp"></span>
      <img ng-if="notification.notificationTrigger.createdAt" src="img/timestamp-1.svg"class="waddle-clock clock-notifications float-right">
    </div>

  <ion-infinite-scroll
    on-infinite="getUserData()"
    ng-if="moreDataCanBeLoaded"
    distance="10%">
  </ion-infinite-scroll>

  <h5 class="white-text margin-indent" ng-if="!moreDataCanBeLoaded">No more results to show</h5>

  </ion-content>
</ion-view>