<!-- Header Bar -->
<ion-header-bar align-title="center" class="bg-header">
  <h1 class="title" ng-click="clearSearch()">notifications</h1>
</ion-header-bar>

<ion-view title="Notifications">

  <ion-content class="padding bg-scroll">

    <div ng-repeat="notification in notifications" ui-sref="tab.enlarged-footprint-notifications" ng-click="openFootprint(notification, $index)" class="list list-inset">
      <p><b>{{notification.notificationGiver.name}}</b> {{notification.notificationTrigger.message1}}:</p>
      <h4>{{notification.place.name}}</h4>
      <img ng-src="{{notification.category.iconPrefix}}40x40{{notification.category.iconSuffix}}" class="waddlebadge">
      <span am-time-ago="notification.notificationTrigger.createdAt" class="float-right"></span><i class="ion-clock float-right"></i>
    <!--   <p>"{{notification.notificationTrigger.text}}"<p> -->
      <p>{{notification.notificationTrigger.message2}}</p>
   <!--    <div class="item item-avatar">


        
      </div>
 -->
    </div>

  <ion-infinite-scroll
    on-infinite="getUserData()"
    ng-if="moreDataCanBeLoaded"
    distance="10%">
  </ion-infinite-scroll>
  <h5 ng-if="!moreDataCanBeLoaded">No more results to show</h5>

  </ion-content>
</ion-view>