<!-- Header Bar -->
<ion-header-bar align-title="center" class="bg-header">
  <div class="buttons">
    <button class="button button-icon icon ion-arrow-left-b" ng-click="goBack()"></button>
  </div>
  <h1 class="title">{{headerTitle}}</h1>
  <div class="buttons">
    <button class="button button-small button-outline suggest" ng-click="showShareOptions()">suggest</button>
  </div>
</ion-header-bar>

<ion-view title="Home">

  <ion-content class="padding bg-scroll tabs-item-hide">
    <button ng-if="!footprint.folders" class="button icon-left ion-star button-small button-light savefave" ng-click="openModal()">Save to Folder</button>
    <button ng-if="footprint.folders" class="button button-small button-light savefave" ng-click="openModal()">{{footprint.folders[0].name}}</button>
    <img src="img/TabCurve-1.png" class="folder-tab-curve">
    <button ng-click="openOptions(footprint, 0)" class="options button button-icon icon waddle-more light"></button>
    <div ng-if="categoryName" class="relative-absolute-hack">
      <h4 ng-click="toggleCategoryNameDisplay()" class="category-name-modal">{{footprint.category.name}}<h4>
    </div>
    <div class="list list-inset">
         <div class="item item-avatar">

        <!-- Profile Picture -->
         <img class="footprint-propic" ng-click='loadProfilePage(footprint.user)' ng-src='{{footprint.user.fbProfilePicture}}'>
        <!-- Badge -->
        <img ng-click="toggleCategoryNameDisplay()"ng-if="footprint.category.iconPrefix" ng-src="{{footprint.category.iconPrefix}}40x40{{footprint.category.iconSuffix}}" class="waddlebadge">
        <img ng-click="toggleCategoryNameDisplay()" ng-if="!footprint.category.iconPrefix" ng-src="img/uncategorized-40x40-2.svg" class="waddlebadge">
        <!-- User Name -->
        <a class="subdued home-rating-message"><b>{{footprint.user.name}}</b> rates this <b class="ratinghex-footprint">{{footprint.checkin.rating}}</b></a>
        <br>
        <!-- Place Name and Location-->
        <a ng-click="getFootprint(footprint)">
          <h2>{{footprint.place.name}}</h2>
          <p class="enlarged-address inline-block" ng-if="address">{{address}}</p>
          <span am-time-ago="footprint.checkin.checkinTime" class="float-right main-timestamp timestamp"></span><img src="img/timestamp-1.svg"class="waddle-clock float-right">
          <p class="enlarged-location"> 
            <a ng-if="footprint.place.city !== 'null'">{{footprint.place.city}}</a><a ng-if="footprint.place.city !== 'null' && footprint.place.province !== 'null'">,</a>
            <a ng-if="footprint.place.province !== 'null' && footprint.place.country === 'United States'">{{footprint.place.province}}</a>
            <a ng-if="footprint.place.country !== 'null' && footprint.place.country !== 'United States'">{{footprint.place.country}}</a>
          </p>
      </div>
     
          <div class="button-bar">
            <a ng-if="phone" href="tel:{{phone}}" class="button button-small button-outline button-bar-enlarged">{{phone}}</a>
            <a ng-if="menu" href="#" ng-click="openMenu()" class="button button-small button-outline button-bar-enlarged">View Menu</a>
          </div>
          <div class="item item-body">
        <div class="checkinphoto">
          <img ng-if="footprint.checkin.photoLarge !== 'null'" class="full-image" ng-src="{{footprint.checkin.photoLarge}}">
        </div>
        <p class="footprintcaption" ng-if="footprint.checkin.caption !== 'null'">{{footprint.checkin.caption}}</p>
        <a ng-if="footprint.comments.length > 0" ui-sref="tab.comments{{subRouting}}" class="subdued x-centered coral small-semi-bold"><img src="img/commentbutton-1.svg" class="waddle-comment"> {{footprint.comments.length}}</a>
          <a ng-if="footprint.hypes.length > 0"  ui-sref="tab.hypers{{subRouting}}" class="subdued x-centered coral small-semi-bold"><i class="ion-android-folder coral larger"></i> {{footprint.hypes.length}}</a>
          </p>
      </div>

      <!-- Comments -->
      <div ng-repeat="comment in footprint.comments | orderBy:'comment.time' | limitTo:3" class="item item-text-wrap enlarged-comment" ui-sref="tab.comments{{subRouting}}" ng-click="openFootprint(footprint)">  
        <img class="footprint-comment-propic" ng-src="{{comment.commenter.fbProfilePicture}}">
        <h2 class="commentername-footprint">{{comment.commenter.name}}</h2>
        <span am-time-ago="comment.comment.time" class="float-right center-align-vertical timestamp"></span><img src="img/timestamp-1.svg"class="waddle-clock clock-comment-footprint float-right">
        <p class="comment-home-text">{{comment.comment.text}}</p>
      </div>
      <div class="bottom-buttons-home">
        <button ui-sref='tab.comments{{subRouting}}' ng-click='openFootprint(footprint)' class="button button-small comment-button-home">comment</button>
        <button class="button button-small suggest-button-home" ng-click="showShareOptions()">suggest to friend</button>
      </div>
      
      <div class="position-relative">
        <map-location ng-click="toggleMapDisplay()" set-marker="setMarker"></map-location>
        <div ng-show="mapDisplay" class="transparent-black">
          <button href="#" ng-click="openMap()" class="open-map button button-small button-outline suggest">open in maps</button>
        </div>
      </div>
      <h6 class="also-been"><b>Also Been Here:</b></h6>
      <h5 class="also-been" ng-if="!usersAlsoBeenHere.length">You're the first! <a ng-click="showShareOptions()" class="underline">Suggest it to a friend.</a><h5>
      <div class="margin-indent" ng-if="usersAlsoBeenHere.length">
        <span ng-repeat="user in usersAlsoBeenHere">
          <img ng-if="user.facebookID !== footprint.user.facebookID" class="propic commenterpic" ng-src="{{user.fbProfilePicture}}">
        <span>
      </div>
      
      <div class="view-foursquare"><a ng-click="openFoursquarePage()">View in Foursquare</a></div>  



   <!--  <div ng-repeat="hyper in footprint.hypes" class="item item-avatar">  
      <img ng-src='{{ hyper.fbProfilePicture }}'>
      <h2>{{ hyper.name }}</h2>
    </div> -->

  </ion-content>
</ion-view>