<!-- Header Bar -->
<ion-header-bar align-title="center" class="bg-header">
  <div class="buttons">
    <button class="button button-icon icon ion-arrow-left-b" ng-click="goBack()"></button>
  </div>
  <h1 class="title">feed</h1>
<!--   <div class="buttons">
    <button class="button button-icon icon ion-map" ui-sref="footprints-map"></button>
  </div> -->
</ion-header-bar>

<ion-view title="Home">

  <ion-content class="padding bg-scroll tabs-item-hide">
    <button ng-if="!footprint.folders" class="button icon-left ion-star button-small button-light savefave" ng-click="showPopup(footprint.checkin.checkinID, $index)">Save to Folder</button>
    <button ng-if="footprint.folders" class="button button-small button-light savefave" ng-click="openModal(footprint.folders[0].name)">{{footprint.folders[0].name}}</button>
    <img src="https://s3-us-west-2.amazonaws.com/waddle/TabCurve-1.png" class="folder-tab-curve">
    <button ng-click="openOptions(footprint, 0)" class="options button button-icon icon ion-chevron-down light"></button>
    <div class="list list-inset">
         <div class="item item-avatar">

        <!-- Profile Picture -->
        <div class="profpicframe">
          <div class="profpic">
            <img ng-click='loadProfilePage(footprint.user)' ng-src='{{footprint.user.fbProfilePicture}}'>
          </div>
        </div>
        <!-- Badge -->
        <img ng-src="{{footprint.category.iconPrefix}}40x40{{footprint.category.iconSuffix}}" class="waddlebadge">
        <!-- User Name -->
        <a ui-sref="tab.enlarged-footprint" ng-click="openFootprint(footprint)" class="subdued"><b>{{footprint.user.name}}</b> rates this <b class="rating">{{footprint.checkin.rating}}</b></a>
        <br>
        <!-- Place Name and Location-->
        <a ng-click="getFootprint(footprint)">
          <h2>{{footprint.place.name}}</h2>
          <a ng-if="address">{{address[0]}}</a>
          <p> 
            <a ng-if="footprint.place.city !== 'null'">{{footprint.place.city}}</a><a ng-if="footprint.place.city !== 'null' && footprint.place.province !== 'null'">,</a>
            <a ng-if="footprint.place.province !== 'null'">{{footprint.place.province}}</a>
            <span class="float-right">{{footprint.checkin.checkinTime | date : shortDate}}</span>
          </p>
          <a ng-if="phone">{{phone}}</a>
          <button ng-if="menu" ng-click="openMenu()" class="button button-small">View Menu</button>
      </div>

          <div class="item item-body">
        <div class="checkinphoto">
          <img ng-if="footprint.checkin.photoLarge !== 'null'" ui-sref="tab.enlarged-footprint" ng-click="openFootprint(footprint)" class="full-image" ng-src="{{footprint.checkin.photoLarge}}">
        </div>
        <p ui-sref="tab.enlarged-footprint" ng-click="openFootprint(footprint)" class="footprintcaption" ng-if="footprint.checkin.caption !== 'null'">{{footprint.checkin.caption}}</p>
        <a ng-if="footprint.comments.length > 0" ui-sref="tab.comments" class="subdued x-centered"><i class="ion-chatbubble coral"></i>{{ footprint.comments.length }}</a>
          <a ng-if="footprint.hypes.length > 0"  ui-sref="tab.hypers" class="subdued x-centered"><i class="ion-android-folder coral"></i>{{ footprint.hypes.length }}</a>
          </p>
      </div>

      <!-- Comments -->
      <div ng-repeat="comment in footprint.comments | orderBy:'-comment.time' | limitTo:3" class="item item-text-wrap" ui-sref="tab.comments" ng-click="openFootprint(footprint)">  
          <img class="propic commenterpic" ng-src="{{comment.commenter.fbProfilePicture}}">
          <span class="commentername">{{comment.commenter.name}}</span>
          <span> {{comment.comment.text}} </span>
          <span class="subdued float-right">{{comment.comment.time | date : shortDate}}</span>
      </div>
      <div ui-sref='tab.comments' ng-click='openFootprint(footprint)' class="item item-input-inset">
              <img class="propic newcomment" ng-src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfp1/v/t1.0-1/s200x200/1476344_10153625108483662_8209874012985593264_n.jpg?oh=91007a07d6d534815f719b6aecb09d9a&oe=5584541F&__gda__=1431308809_91c6fa931fe0f59ed47d42b7b4a4fb77">
      <label name="customSubmit" data-custom-submit info='someinfo' class="item-input-wrapper commentfield" novalidate>
        <input type="text" ng-model='comment' name='comment' placeholder='Leave a comment' data-ng-minlength="1" data-ng-maxlength="120" required>
        <span class="help-inline" ng-show="customSubmit.comment.$error.maxlength">120 Character Max</span>
      </label>
      </div>
      <map-location callback="callback"></map-location>
      <a ng-if="usersAlsoBeenHere.length">Also Been Here:</a>
      <div ng-if="usersAlsoBeenHere.length">
        <span ng-repeat="user in usersAlsoBeenHere">
          <img ng-if="user.facebookID !== footprint.user.facebookID" class="propic commenterpic" ng-src="{{user.fbProfilePicture}}">
        <span>
      </div>
      <button class="button button-small" ng-click="openFoursquarePage()">View in Foursquare</button>
    </div>


   <!--  <div ng-repeat="hyper in footprint.hypes" class="item item-avatar">  
      <img ng-src='{{ hyper.fbProfilePicture }}'>
      <h2>{{ hyper.name }}</h2>
    </div> -->

  </ion-content>
</ion-view>