<!-- Header Bar -->
<ion-header-bar align-title="center" class="bar-positive">
  <div class="buttons">
    <button class="button button-icon icon ion-arrow-left-b" ng-click="doSomething()"></button>
  </div>
  <h1 class="title">Hype List</h1>
  <div class="buttons">
    <button class="button button-icon icon ion-map" ui-sref="footprints-map"></button>
  </div>
</ion-header-bar>

<ion-view title="Hype List">

  <ion-content class="padding">

    <!-- Search bar -->
    <div class="list">
      <div class="item item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios7-search-strong placeholder-icon"></i>
        <input type="text" placeholder="Search your Hypelist" ng-model="search">
      </label>
        <button class="button button-small" type="submit" ng-click="searchUserFootprints()">Submit</button>
        <button class="button button-clear" ng-if="search.query" ng-click="clearSearch()">x</button>
      </div>
    </div>

    <div ng-repeat="footprint in footprints" class="list card">

      <div class="item item-avatar">

        <!-- Profile Picture -->
        <img ng-click='loadProfilePage(footprint.user)' ng-src='{{footprint.user.fbProfilePicture}}'>

        <!-- User Name -->
        <a href="#" class="subdued">{{footprint.user.name}}</a>
        <br>
        <!-- Place Name -->
        <a ng-click="getFootprint(footprint)">
          {{footprint.place.name}}
        </h2>

        <!-- Check-in Time -->
        <p>{{footprint.checkin.checkinTime | date : shortDate}}</p>
      </div>

      <div class="item item-body">
        <img ng-if="footprint.checkin.photoLarge !== 'null'" ng-click="getFootprint(footprint)" class="full-image" ng-src="{{footprint.checkin.photoLarge}}">
        <p ng-if="footprint.checkin.caption !== 'null'">{{footprint.checkin.caption}}</p>

        <p>
          <a ng-if="footprint.comments.length > 0" ui-sref="tab.comments" ng-click="openFootprint(footprint)" class="subdued">{{ footprint.comments.length }} Comments</a>
          <a ng-if="footprint.hypes.length > 0"  ui-sref="tab.hypers" ng-click="openFootprint(footprint)" class="subdued">{{ footprint.hypes.length }} Hypes</a>
        </p>
      </div>

      <!-- Comments -->
      <div ng-repeat="comment in footprint.comments | orderBy:'comment.time' | limitTo:-3" class="item item-avatar item-text-wrap" ui-sref="tab.comments" ng-click="openFootprint(footprint)">  
        <img ng-src='{{comment.commenter.fbProfilePicture}}'>
        <h2>{{comment.commenter.name}}</h2>
        <p>{{comment.comment.text}}</p>
        <p>{{comment.comment.time | date : shortDate}}<P>
      </div>

      <div class="item item-divider tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" ng-click="addCheckinToBucketList(footprint)">
          <i class="icon ion-arrow-up-a"></i>
          Hype
        </a>
        <a class="tab-item" ui-sref="tab.comments" ng-click="openFootprint(footprint)">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
      </div>

    </div>

  <ion-infinite-scroll
    on-infinite="getBucketList()"
    ng-if="moreDataCanBeLoaded"
    distance="10%">
  </ion-infinite-scroll>

  </ion-content>
</ion-view>