body { margin:0; padding:0; }

.map{ display: block; width:100vw; height: 200px; margin-bottom: 10px; z-index: 0 !important; }

/*.bar-positive{
	background: rgb(0, 192, 161);
	background-image: none;
}*/

.frontpage-bg{
	background-color:#00C0A1;
	text-align: center;
	height: 100%;
	width: 100%;
}

.waddle-logo {
	width: 60vw;
	height: auto;
	margin-top: 25vh;
	margin-left: 20vw;
}

.login-break {
	width: 76vw;
	height: 1px;
	background-color: #e9e9e9;
	border: 0;
}

.login-button {
	border-radius: 30px;
	border: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 300;
	height: 2em;
	width: 80vw;
	margin-left: 10vw;
	margin-top: 1em;
}

.facebook-login {
	height: 25px;
	width: auto;
	vertical-align: center;
	margin-bottom: -0.5em;
	margin-right: 1em;
}

.profile-banner {
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	border-color: none;
	width: 100vw;
	height: 22vh;
	background: url('../img/mebackground-1.png') no-repeat center center;
}
.centered{
	 position: relative;
   /*top: 50%;*/
   transform: translate(0, -50%);
   text-align:center;
   margin-right: auto;
   margin-left: auto;
}

.white-text {
	color: white;
}

.margin-indent {
	margin-left: 3%;
}

.position-relative {
	position: relative;
}

.white-bg {
	background-color: white;
}

.padding-top {
	margin-top: 5px !important;
	margin-bottom: -5px !important;
}

.inline {
	display: inline !important;
}

.inline-block {
	display: inline-block !important;
}

.item-divider {
	padding-top: 0;
	padding-bottom: 0;
	min-height: 20px;
}

p{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 300;
}

.item-body {
	text-align: center;
}

.item-body p {
	margin: 0px;
}

.move-up div.list {
	margin-top: -5px;
}

.searchbox {
	border-radius: 25px;
	height: 1.8em;
	margin-bottom: -0.5em;
	width: auto;
	margin-right: 0.5em;
	margin-left: 0.5em;
}

.profile-searchbox {
	margin-bottom: -0.125em;
}

.searchbox-top {
	border-radius: 25px;
	height: 1.6em;
	width: auto;
	margin-top: 0.15em;
	margin-right: 1em;
	margin-left: 1em;
}

.search-bottom {
	margin-top: -0.75em;
	margin-bottom: 0.5em;
}

.searchinput {
	opacity: 1 !important;
}

.suggest {
	color: white !important;
	border-color: white !important;
	border-radius: 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px !important;
	font-weight: 300 !important;
}

h1{
	font-family: 'Open Sans', sans-serif;
	font-size: 28px;
	font-weight: 400;
}
h2{
	color:#e1876a;
	font-family: 'Open Sans', sans-serif;
	/*font-size: 18px !important;*/
	font-weight: 600 !important;
}
h3{
	color:#e1876a;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: 400;
}

h4 {
	color:#e1876a;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px !important;
	font-weight: 600;
}

h5{
	color:#787878;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 300;
}

h6 {
	color:#989898;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
}
input[type="text"] {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.6em;
  font-size: 12px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 1.6em;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 1.6em;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 1.6em;
}

i.icon.ion-record {
	color: white;
}

.walkthrough-text {
	text-align: center;
	color: white;
	font-size: 18px;
	padding: 0 2.5em 0 2.5em;
}

.margin-top-walkthrough {
	margin-top: 8em;
}

.negative-margin-top {
	margin-top: -0.5em; 
}

.walkthrough-text-bold {
	text-align: center;
	color: white;
	font-size: 24px;
	font-weight: 600;
}

.walkthrough-image {
	height: auto;
	width: 80vw;
	margin-left: 10vw;
}

.walkthrough-finish {
	margin-left: 30vw;
	width: 8em;
	border-radius: 10px;
	color: #e1876a !important;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.small-semi-bold {
	font-size: 12px;
	font-weight: 600;
	vertical-align: center;
}

.larger {
	font-size: 12px !important;
}

.coral {
	color: #e1876a !important;
}

.title {
	color: #fff;
}

.float-right {
	float: right;
}

.center-align-vertical {
	vertical-align: center;
}

.checkin-post {
	border-radius: 10px;
	background-color: #e1876a;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin-top: 5vw;
	margin-left: 35vw !important;
	margin-bottom: 5vw;
	height: 1.5em !important;
	width: 30vw !important;
	border: none; 
	color: white
}

.search-icon-settings {
  padding-left: 25px;
	background-size: 15px;
  background-repeat:no-repeat;
  background-position-x: 2.5%;
  background-position-y: 50%; 
}

.search-query {
	background-image: url('https://s3-us-west-2.amazonaws.com/waddle/app+assets/search-grey-1.svg');
}

.search-near {
	background-image: url('https://s3-us-west-2.amazonaws.com/waddle/app+assets/navigation-2.svg');
}

span{
	font-family: 'Open Sans', sans-serif;
}

.loading-dots svg{
	margin-top: 0.25em;
	height: 50px;
	width: 50px;
	stroke: white;
	fill: white;
}

.loading-spinner-ios {
  right: 3em;
  top: 3em;
  position: absolute;
  font-size: 5px !important;
}

.loading-spinner-ios svg {
	height: 30px;
	width: 30px;
}

.home-rating-message {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 300;
}

.home-comment {
	padding: 0;
	border: 0;
}

.enlarged-comment {
	padding: 0;
	padding-bottom: 0.5em;
	border: 0;
}

.enlarged-address {
	margin-top: -0.3em !important;
	font-size: 12px !important;
}

.enlarged-location {
	margin-top: -0.7em !important;
	font-size: 12px !important;
	margin-bottom: -1em !important;
}

.view-foursquare {
	text-decoration: underline;
	font-family: 'Open Sans', sans-serif;
	border-radius: 5px;
  margin-left: 11em;
  margin-top: 0.5em;
  font-size: 12px;
}

.underline {
	text-decoration: underline;
}

.suggest-bottom-button {
	color: #e1876a !important;
	border-color: #e1876a !important;
	background-color: transparent;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	border-radius: 5px;
  margin-left: 9em;
}

.comment-button-enlarged {
	color: #e1876a !important;
	border-color: #e1876a !important;
	background-color: transparent;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	border-radius: 5px;
  text-align: center;
  margin-top: 10px;
}

.bottom-buttons-home {
	margin-top: 10px;
	margin-bottom: 15px;
	text-align: center;
	width: 100%;
}

.comment-button-home {
	display: inline-block;
	color: #e1876a !important;
	border-color: #e1876a !important;
	background-color: transparent;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	border-radius: 12px;
	width: 40vw;
	margin-right: 5vw;
/*  margin-left: 9em;*/
}

.suggest-button-home {
	display: inline-block;
	color: #e1876a !important;
	border-color: #e1876a !important;
	background-color: transparent;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	border-radius: 12px;
	width: 40vw;
  /*margin-left: 9em;*/
}

.enlarged-comment-field {
  margin-top: -0.5em;
  /*z-index: -2;*/
}

.commentername {
	color:#e1876a;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px !important;
	font-weight: 700;
	display: inline-block;
	vertical-align: text-top;
}

.commentername-footprint {
	color:#e1876a;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px !important;
	font-weight: 700;
	display: inline-block;
	vertical-align: text-top;
	margin-top: -1em !important;
}

.commenttext {
	font-size: 14px;
	font-weight: 200;
	/*display: inline-block;*/
	vertical-align: text-top;
}

.comment-footprint {
	display: inline-block;
}

.comment-list-text {
	font-size: 18px;
	font-weight: 300;
	vertical-align: text-top;
}

.comment-home-text {
	margin-top: -1.1em;
	margin-left: 3.2em;
}

.comment-limit {
	background: transparent;
	position: absolute;
	top: 5em;
	right: 2em;
}

.caption-limit {
	text-align: right;
	margin-right: 3px;
	margin-top: 0px; 
	font-size: 10px;
}

.transparent-black {
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	display: inline-block;
	z-index: 100 !important;
	background-color: black;
	opacity: 0.7;
	text-align: center;
	padding: 5px;
	width: 100vw;
  position: absolute;
  bottom: 0em;
} 

.overflow {
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.waddlebadge{
	float:right;
	height:35px;
	width:auto;
}

.waddlebadge-discover {
	position: absolute;
	top: 0.5em;
	right: 0.25em;
	width: 40px;
}

.category-name-modal {
	position: absolute;
	top: 0.6em;
	right: -3em;
	border-radius: 5px;
	z-index: 100;
	background-color: #e6e6e6;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px !important;
	padding: 7px;
	color: #555;
	font-weight: 300;
	white-space: nowrap;
}

.carat {
	position: absolute;
	left: 0.5em;
	top: -2.7em;
	float: right;
	height: 1em;
	z-index: 105;
}

.relative-absolute-hack {
	position: relative; 
	width: 0; 
	height: 0; 
	float: right;
}

.waddlebadge-notifications{
	/*position: absolute;*/
	float:right;
	/*right: 150px;*/
	margin-top: -15px;
	height:35px;
	width:auto;
}

.item-avatar .waddlebadge-checkin-list {
	border-radius: 0px !important;
	height: 35px !important;
	width: auto !important;
}

.notifications-timestamp {
	float: right;
	margin-top: -15px;
	margin-right: 3px;
}

.contact-info {
	display: inline-block;
	position: absolute;
	top: 0.2em;
}

.timestamp {
	color: #989898;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 400;
}

.logo{
	width: 125px;
	height: auto;
}
.letswaddlebutton{
	position:fixed;
	top:100%;
	left:20%;
	padding:20px;
	width:225px;
	border-radius:25px;
}
.profpicframe{
	text-align: center;
	margin-left:-65px;
	width: 50px;
	height: 50px;
	overflow: hidden;
	border-radius: 100%;
	float:left;
	background-color:#000;
}
.profpic{
	height:50px;
	width:100%;
	left:50%;
	margin-left:0%;
	margin-top:0%;
}

.propic {
	display: inline;
	height: 29px;
	width: 29px;
	border-radius: 100%;
	background-color:#000;
}

.footprint-propic {
	margin-top: 1.3%;
	height: 50px !important;
	width: 50px !important;
	border-radius: 100%;
	background-color:#000;
}

.footprint-comment-propic {
	height: 29px;
	width: 29px;
	border-radius: 100%;
	background-color: #000;
	/*left: 20px !important;*/
	top: 1em;
	margin-left: 0.6em !important;
	/*padding-left: 20px !important;*/
}
.checkin-post-propic {
	height: 40px !important;
	width: 40px !important;
	border-radius: 100%;
}
/*
.friend-divider {
	height: 0.8em;
}*/

.propic-profile {
	border: 3px solid white;
	margin-left: 36vw;
	margin-top: 1vh;
	height: 20vw;
	width: 20vw;
	border-radius: 100%;
	background-color:#000;
}

.profile-search {
	margin-top: -0.5em;
	margin-bottom: 0.4em;
}

.commentslist-propic {
	/*margin-right: -1%;*/
	height: 35px !important;
	width: 35px !important;
	border-radius: 100%;
	background-color: #000;
}

.notifications-list-propic {
	margin-top: 0.2%; 
	height: 35px !important;
	width: 35px !important;
	border-radius: 100%;
	background-color: #000;
}

.contact-list-propic {
	margin-top: -3.5%; 
	height: 35px !important;
	width: 35px !important;
	border-radius: 100%;
	background-color: #000;
}

.checkmark-contact-list {
	height: 20px;
	width: auto;
	float: right;
	margin-top: 1.2%
}

.item-avatar > img:first-child {
	max-height: 100px;
	max-width: 100px;
}

.folder-propic {
	display: inline;
	height: 20px;
	width: 20px;
	border-radius: 100%;
	background-color:#000;
}

.folder-footprint-folder-propic {
	position: absolute;
	/*margin-left: 0.5em;*/
	margin-top: 1em;
	/*z-index: 1;*/
	height: 45px;
	width: 45px;
	border-radius: 100%;
	/*background-color:#000;*/
}

.commenterpic {
	margin-left: -7px;
}

.also-been-pic {
	margin-left: -4px;
	margin-right: 7px;
}

.transparentbutton{
	background:none;
	border:0px;
}
#checkinbutton{
	height:200%;
	width:auto;
}
.checkindiv{
	background-color: #fff;
	padding:5px;
	margin:5px;
	border-bottom:1px #999 solid;
}
.item-input{
	border-radius:0px;
	border:0px;
	height:40px;
	margin-top:-10px;
	margin-bottom:-15px;
	-webkit-box-shadow: 0px 0px 0px 0px #ccc
	-moz-box-shadow: 0px 0px 0px #888;
	box-shadow: 0px 0px 0px #888;
}

.item-input-inset {
	border: none;
}

.success-confirm {
	width: 5em;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0.5em;
	opacity: 1 !important;
}

.folder-modal-top {
	opacity: 1 !important;
	/*margin-top: -2em;*/
	width: 100%;
	height: auto;
}

.folder-modal-body {
	width: 100%;
	margin-top: -2.83em;
	padding: 0.5em;
	height: auto;
	background-color: white;
	/*opacity: 0.95;*/
}

.margin-none {
	margin-bottom: -1em;
}

.facebook-post-title {
	display: block;
	text-align: center;
	/*margin-top: -1em;*/
}

.facebook-post-caption {
	text-align: center;
	margin-top: -0.5em;
}

.facebook-post-message {
	/*display: inline-block;*/
	width: 100%;
	height: 20vh !important;
	border-radius: 10px;
	background-color: #eee;
	border: none;
	padding-right: 0.2em !important;
	margin: -0.3em 0.3em 0.3em 0.3em;
}

.facebook-post-text {
	width: 100%;
	height: 20vh !important;
	border-radius: 10px;
	background-color: #eee;
	border: none;
	padding-right: 0.2em !important;
	margin: -0.3em 0.3em 0.3em 0.3em;

}

.full-image{
	border-radius:0px;
	margin-top:-17px;
	margin-left:-18px;
	margin-right:-18px;
	width:110%;
	height:auto;
	border:0px;
}
.bg-scroll{
	background: url("../img/WaddleBG-1.png") no-repeat center center fixed;
	background-size: cover;
	margin:-10px;
	margin-top:-10px;
}

.bg-header {
	background: url("../img/WaddleBG-1.png") no-repeat center center fixed;
	background-size: cover; 
}

.commentfield {
	border-radius: 15px;
	display: inline-block;
	position: absolute;
	top: 1.4em;
	width: 82vw;
	left: 3.5em;
}

.newcomment {
	margin-right: 5px;
}

.folder-button {
	position: absolute;
	z-index: 100;
}

.button-bar {
	margin-bottom: 0.8em;
}

.button-bar-enlarged {
	border: 1px solid #e1876a !important;
	border-top: 1px solid #e1876a !important;
	color: #e1876a !important;
	font-family: 'Open Sans', sans-serif;
/*	padding-top: -0.2em !important;*/
	z-index: 2;
}

.folder-item img {
	margin-left: 150px;
	z-index: 100;
	/*position: absolute;*/
}

.folder-item {
	margin-bottom: -80px;
}

.folder-body {
	background: url("../img/WaddleBG-1.png") no-repeat center;
	padding-top: 30px;
	padding-bottom: 50px;
}

.folder-body a {
	color: white;
}

.item-avatar{
	border:0px;
	-webkit-box-shadow: 0px 0px 0px 0px #ccc
	-moz-box-shadow: 0px 0px 0px #888;
	box-shadow: 0px 0px 0px #888;
}

.thin {
	min-height: 45px;
}

.footprint-card {
	border-top-right-radius: 15px !important;
	-webkit-border-top-right-radius: 15px;
	-moz-border-radius-topright: 15px;
}

.item-body{
	border:0px;
	margin-top:-12px;
	margin-bottom:-10px;
	z-index: 0 !important;
}
.list-inset{
	bottom:30px;
	-webkit-border-radius: 15px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius: 15px;
  -moz-border-radius-topleft: 0;
  border-radius: 15px;
  border-top-left-radius: 0;
}

.comment-input {
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-bottom-left-radius: 15px !important;
	-webkit-border-bottom-right-radius: 15px;
	-moz-border-radius-topright: 15px;
	border-bottom-right-radius: 15px !important;
}

.notifications-list {
	border-top: 1px solid #F0F0F0;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 3.7em;
}

.comments-list {
	border-top: 1px solid #F0F0F0;
	vertical-align: center;
	/*padding-top: 0;*/
	padding-bottom: 0;
	padding-left: 3.7em;
}

.comment-form {
	/*border-radius: 10px;*/
	background-color: #eee;
	border: none;
	width: 77vw;
	/*padding-right: 0.5em !important;*/
}

.review-form {
	border-radius: 10px;
	background-color: #eee;
	border: none;
	padding-right: 0.5em !important;
}

.review-text {
	border-radius: 10px;
	height: 6em;
	width: 100%;
	background-color: #eee;
	border: none;
	padding-right: 0.5em !important;
}

.item-input-inset .item-input-wrapper input {
  width: 100%;
}

.notifications-text-overflow {
	padding-right: 4em;
	overflow: hidden !important;
	text-overflow: ellipsis;
	white-space: nowrap !important;
}

.notifications-message1 {
	margin-bottom: -0.2em !important;
}

.notifications-message2 {
	margin-top: -0.3em;
}

.margin-zero {
	margin-top: 0 !important;
	margin-left: 10px;
}


.savefave {
	margin-bottom: -10px;
	border-style: none;
	padding-right: 0;
	min-width: 150px;
	text-align: left;
	color: #e1876a !important;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: 300;
	text-overflow: ellipsis; 
  -webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
	-webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-left-radius: 10px;
/*  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-left-radius: 0px;*/
}

.savefave-discover {
	position: absolute;
	bottom: 0.3em;
	right: 0.3em;
	border-style: solid 1px gray;
	padding-right: 0;
	text-align: left;
	/*color: #e1876a !important;*/
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
	font-weight: 300;
	text-overflow: ellipsis; 
  -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}

.waddle-folder-plus-discover-inactive {
	background-repeat: no-repeat;
  background-position: 9% 50%;
 /* height: 100%;*/
  background-image: url('../img/savetofolder-2.svg');
  background-size: 1em;
  /*padding-left: 15px;*/
}

.waddle-folder-plus-discover-active {
	background-repeat: no-repeat;
  background-position: 9% 50%;
 /* height: 100%;*/
  background-image: url('../img/savetofolder-1.svg');
  background-size: 1em;
  /*padding-left: 15px;*/
}

button.savefave-discover.button-small {
	min-height: 2em !important;
	min-width: 40px !important;
	height: 2em;
	line-height: 1.3em;
	padding-right: 0.2em;
}

.text-align-right {
	text-align: right;
}

.selected {
	background-color: #dbdbdb;
	width: 99%;
}

.folderList {
	margin-left: 10px;
}

.folder-tab-curve {
	display: inline;
	max-height: 32px;
	margin-left: -5px;
/*	margin-bottom: -1px;*/
}

.folder-tab {
	display: inline;
	width: 0;
	height: 0;
	border-bottom: 100px solid #fff;
	border-right: 100px solid transparent;
	-webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
}

.ratinghex {
	background-image: url('../img/ratinghex-1.svg');
	background-position: center center;
	background-repeat: no-repeat;
	padding: 2px;
	text-align: center;
	color: #fff;
}

.ratinghex-discover {
	font-weight: 300 !important;
	font-size: 14px !important;
	position: absolute;
  background-image: url('../img/ratinghex-1.svg');
  background-position: left;
  background-repeat: no-repeat;
  padding: 16px !important;
  margin-left: -3.5em !important;
  margin-top: 0.1em !important;
  color: #fff;
  width: 60px;
  background-size: 70%;
}

.ratinghex-footprint {
	background-image: url('../img/ratinghex-1.svg');
  background-position: left;
  background-repeat: no-repeat;
  /*padding: 2px;*/
  text-align: center;
  /*padding-top: 5px;*/
  color: #fff;
  width: 35px;
  background-size: 100%;
  display: inline-block;
  vertical-align: middle;
}

.ratinghex-short {
	position: absolute;
  background-image: url('../img/ratinghex-1.svg');
  background-position: left;
  background-repeat: no-repeat;
  /*padding: 2px;*/
  padding-right: 15px;
  margin-left: 1em !important;
  margin-top: 3.5em !important;
  text-align: center;
  color: #fff;
  width: 50px;
  background-size: 70%;
}

/*.ratinghex {
	z-index: -1;
	height: 20px;
	left: -50px;
}*/

.star-rating li {
	display: inline;
}

.rating {
	text-align: center;
	color: #A9A9A9;
}

li .ion-star {
	/*color: #A9A9A9;*/
  font-size: 50px;
}

.venue-info {
	font-size: 12px !important;
}

.rating .filled {
  color: #e1876a !important;
}

.options {
	bottom: 10px;
	float: right;
	width: 8vw;
	margin-right: 1em;
}

.slidebox {
	height: 100vh;
}

.popup-open .backdrop {
z-index: 11;
}


.welcomeimage{
	position:relative;
	z-index:1;
	height:100%;
	width:100%;
}

.footprinttabimg{
	margin-top:30px;
}

#files {
	display: none;
}

.footprintcaption {
	text-align: center;
}

.hypelisttabimg{
	margin-top:15px;
}

.hypelistplace{
	margin-left:-30px;
}

.folder-footprint-item-description {
	padding-left: 50px;
	margin-top: 10px
}

.waddle-share {
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 80px;
}

div.share-option-icons {
	padding-top: 5px;
	text-align: center;
	width: 100%;
}

div.share-option-icon {
	display: inline-block;
	padding: 5px;
}

.share-option-icons img{
	width: 55px;
}

.suggest-title {
	margin-top: 0;
	text-align: center;
}

.disabled img {
	opacity: 0.3;
}

.popup-close {
	margin-top: -12px;
	margin-left: 5px !important;
}

.folder-footprint-item-description h4{
	color: #808080;
}

.folder-footprint-image {
	top: 0px;
	right: 0px;
	height: 100%;
  position: absolute;
  max-width: 120px;
  max-height: 120px;
  width: 100%;
}

.discover-image {
	top: 0.25em;
	right: 0.25em;
	height: 100%;
  position: absolute;
  max-width: 40px;
  max-height: 40px;
  width: 100%;
}

.tabs {
	padding-top: 0px;
}

.tabs .tab-item .icon.waddle-feed {
/*	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
	font-weight: 300;*/
	margin-top: 5px;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 50%;
  background-image: url('../img/tabicon-feed-1.svg');
  background-size: contain;
}

.tabs .tab-item .icon.waddle-feed-active {
/*	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
	font-weight: 300;*/
	margin-top: 5px;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 50%;
  background-image: url('../img/tabicon-feed-active-1.svg');
  background-size: contain;
}

.tabs .tab-item .icon.waddle-checkin {
	margin-top: 4px;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 75%;
  background-image: url('../img/checkin-star-2.svg');
  background-size: contain;
}

.tabs .tab-item .icon.waddle-checkin-off {
	margin-top: 4px;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 75%;
  background-image: url('../img/checkin-star-2.svg');
  background-size: contain;
}

.background-coral {
	background-color: #e1876a !important;
}


.tabs .tab-item .icon.waddle-notifications {
	margin-top: 5px;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 50%;
  background-image: url('../img/tabicon-notifications-1.svg');
  background-size: contain;
}
.tabs .tab-item .icon.waddle-notifications-active {
	margin-top: 5px;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 50%;
  background-image: url('../img/tabicon-notifications-active-1.svg');
  background-size: contain;
}
.tabs .tab-item .icon.waddle-profile {
	margin-top: 5px;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 50%;
  background-image: url('../img/tabicon-me-3.svg');
  background-size: contain;
}
.tabs .tab-item .icon.waddle-profile-active {
	margin-top: 5px;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 50%;
  background-image: url('../img/tabicon-me-active-1.svg');
  background-size: contain;
}

.tabs .tab-item .icon.waddle-folders {
	margin-top: 5px;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 50%;
  background-image: url('../img/tabicon-folder-1.svg');
  background-size: contain;
}

.tabs .tab-item .icon.waddle-folders-active {
	margin-top: 5px;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 50%;
  background-image: url('../img/tabicon-folder-active-1.svg');
  background-size: contain;
}

.tabs .tab-item .icon.waddle-discover {
	margin-top: 5px;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 50%;
  background-image: url('../img/discovery-1.svg');
  background-size: contain;
}

.tabs .tab-item .icon.waddle-discover-active {
	margin-top: 5px;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 50%;
  background-image: url('../img/discovery-active-1.svg');
  background-size: contain;
}

.icon.waddle-search {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 100%;
  background-image: url('../img/search-1.svg');
  background-size: contain;
}

/*.icon.waddle-search-grey {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 100%;
  background-image: url('../img/search-grey-1.svg');
  background-size: contain;
}*/

.waddle-search-grey {
  background: url('../img/search-grey-1.svg') no-repeat scroll 7px 7px;
  padding-left: 30px;
}

.icon.waddle-plus {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 100%;
  background-image: url('../img/plussign-1-50x50.svg');
  background-size: contain;
}

.icon.waddle-folder-plus {
  background-repeat: no-repeat;
  background-position: 9% 50%;
 /* height: 100%;*/
  background-image: url('../img/savetofolder-1.svg');
  background-size: 1em;
  /*padding-left: 15px;*/
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.create-new {
	height: 12px;
	width: auto;
}

.icon.waddle-more {
  background-repeat: no-repeat;
  background-position: 100%;
  height: 100%;
  background-image: url('../img/threedot-1.svg');
  background-size: 7vw;
  z-index: 10;
}

.icon.waddle-close {
	background-repeat: no-repeat;
  background-position: 50%;
  margin-left: 0.5em;
  /*height: 100%;*/
  background-image: url('../img/x-button-2.svg');
  background-size: 1em;
}

.waddle-clock {
  height: 12px;
  width: auto;
}

.main-timestamp {
	margin-top: -0.25em;
}

.clock-comment-footprint {
	margin-top: 0.2em;
}

.clock-comments-list {
	margin-right: -4px;
	margin-bottom: -1px;
}

.timestamp-comments-list {
	display: inline-block; 
	position:absolute; 
	right: 5px;
}

.clock-notifications {
	margin-top: -0.7em;
}

.me-buttons {
	margin-top: -3.3em;
}

.me-button {
	padding-top: 1em !important;
	width: 5em;
	vertical-align: bottom;
	background-color: #f3f3f3; 
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 300;
	border: 0 !important;
}

.me-bubble {
	top: -1.7em;
	display: inline;
	position: relative;
	height: 3em;
	width: auto;
	z-index: 2;
}

.also-been {
	margin-left: 0.5em;
}

.me-footprints {
	left: 19vw;
}

.me-friends {
	left: 57vw;
}

.border-bottom-left-radius {
	border-bottom-left-radius: 10px !important;
	border-right: 1px solid #d3d3d3 !important;
}


.border-bottom-right-radius {
	border-bottom-right-radius: 10px !important;
}



/*.icon-waddle-clock {
	display: inline-block;
	background-size: contain;
  background: url('../img/timestamp-1.svg') center center no-repeat;
  padding-left: 10px;
  text-indent: -9999px;
  /*white-space:nowrap;*/
 /* height: 10px;
  width: auto;
}*/

.waddle-comment {
	height: 12px;
	width: auto;
}